
.container {
  max-width: 1248px;
  margin: 0 auto;
}

/*Header*/

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #313030;
  margin-top: 30px;
}

.nav-link {
  color: #e0e0e0;
  display: block;
  padding: 40px 20px 30px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

.nav-link:hover, .nav-link.active {
  background-color: #ff3f40;
  transition: 0.3s ease-in-out;
}

/*Intro*/

.intro .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10vh 0;
}

.intro h1 {
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 7vh;
  line-height: 1;
}

.intro p {
  max-width: 518px;
  opacity: 0.7;
  font-weight: 400;
  margin-bottom: 7vh;
}

.button {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  background-color: #ff2d2d;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 7px;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
}

.button:hover {
  transform: scale(1.04);
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.4);
  transition: 0.3s ease-in-out;
}

.intro-photo {
  width: 45%;
}

.intro-photo img {
  width: 100%;
  box-shadow: 0px 14px 73px 0px rgba(0, 0, 0, 0.4);
}

/*Main*/

.main {
  background-color: #fff;
}

/*about-me*/

.about-me {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 10vh;
  padding-bottom: 5vh;
  position: relative;
}

.about-me::after {
  content: " ";
  display: block;
  background-color: #ececec;
  height: 5px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.interests {
  max-width: 518px;
}

.section-header {
  font-size: 42px;
  font-weight: 700;
  opacity: 0.8;
  line-height: 1.3;
  text-transform: uppercase;
}

.interests h3 {
  margin-top: 5vh;
  color: #ff2d2d;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 2vh;
  display: flex;
  align-items: center;
}

.interests h3 .material-icons {
  margin-left: 10px;
}

.interests-list {
  list-style: disc;
  padding-left: 20px;
}

.interests-list li::marker {
  color: #ff2d2d;
}

.interests-list li {
  margin-top: 2vh;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6)
}

.skills {
  max-width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.skill {
  max-width: 47%;
}

span.skill-icon {
  color: #ff3f40;
  font-size: 48px;
  margin-left: -5px;
  margin-bottom: 2vh;
}

.skill-header {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 1vh;
}

.skill-description {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 4vh;
}

/*Portfolio*/


.portfolio {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.portfolio-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 5vh;
}

.portfolio-info {
  margin-top: 3vh;
  margin-bottom: 2vh;
  color:rgba(0, 0, 0, 0.6);
}

.red-line {
  background-color: #ff2d2d;
  height: 3px;
  width: 150px;
}

.swiper-container {
  width: 100%;
  height: 60vh;
  position: relative;
}

.swiper-slide {
  background-color: #ccc;
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  color: #ff3f40;
  transition: 0.3s ease-in-out;
  opacity: 0.7;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.swiper-pagination {
  --swiper-pagination-color: rgb(255, 63, 64);
}

.work {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
  z-index: 1;
}

.work-1 {
  background-image: url(/img/portfolio1.jpg);
}

.work-2 {
  background-image: url(/img/portfolio2.jpg);
}

.work-3 {
  background-image: url(/img/portfolio3.jpg);
}

.shading{
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 0%;
  height: 0%;
  z-index: -1;
  transition: 0.3s ease-in-out;
  border-radius: 50%;
}

.work:hover .shading {
  width: 200%;
  height: 200%;
  transition: 0.3s ease-in-out;
}

.work-name {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 32px;
  transform: translateY(-300px);
  transition: 0.3s ease-in-out;
}

.work-description {
  width: 40%;
  font-style: italic;
  transform: translateY(300px);
  transition: 0.3s ease-in-out;
}

.work-line {
  width: 0;
  background-color: #fff;
  height: 3px;
  margin-top: 3vh;
  margin-bottom: 3vh;
  transition: 0.3s ease-in-out;
}

.work:hover .work-description {
  transform: translateY(0px);
  transition: 0.3s ease-in-out;
}

.work:hover .work-name {
  transform: translateY(0px);
  transition: 0.3s ease-in-out;
}

.work:hover .work-line {
  width: 25%;
  transition: 0.3s ease-in-out;
}


















